<header>
    <div class="header-container">
        <h1 class="logo">
            <a href="./index.jsp">
                <img src="../html/image/logo_hem.png" alt="HEM-건강한교육사역" class="logo-img">
                HEM-건강한교육사역
            </a>
        </h1>
        <button class="mobile-menu-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <nav>
            <ul>
                <li><a href="./index.jsp" class="active">홈</a></li>
                <li><a href="./about.jsp">회사소개</a></li>
                <li><a href="./ministry.jsp">사역소개</a></li>
                <li><a href="./board.jsp">게시판</a></li>
                <li><a href="./contact.jsp">문의</a></li>
            </ul>
        </nav>
    </div>
</header>